.card {
    border: 1px solid var(--greyLight);
    border-radius: var(--borderRadius);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    margin: 0;
}

.content {
    flex-grow: 1;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.5rem;
    row-gap: 0.25rem;
    margin-bottom: 1rem;
}

.tag {
    background-color: #aaa;
    padding: 0.25rem 0.5rem;
    border-radius: var(--borderRadius);
}

.actions {
    display: flex;
    justify-content: flex-end;
}